.core { 
  width: 100%;
  height: 900px;
  background-color:#F6FBFD; 
}

.container { 
  width: 1300px; 
  height: 612px; 
  margin: 0 auto; 
}

.textBlock {
  max-width: 900px;      /* ensures clean readable width */
  margin: 0 auto;        /* centers whole block */
  text-align: center;    /* centers text without breaking layout */
  padding: 80px 0;       /* spacing like figma */
}

.textBlock h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  color: #1d2d3a;
  margin-bottom: 30px;
}

.textBlock p {
  max-width: 780px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #6b7986;
}
.card{
    width: 1400px;
    height: 500px;
    background-color: #FFFFFF;

}

/* LEFT SIDE */
.cardLeft {
  flex: 1;
  z-index: 2;
  line-height: 1.8;
  transform: translate(80px, 100px); /* Right , Down */
}


/* RIGHT SIDE */
.cardRight { 
  width: 350px; 
  display: flex; 
  align-items: center; 
  justify-content: center;

  /* VERY IMPORTANT */
  position: relative;
  z-index: 1;
}

/* BIG IMAGE */
.cardRight img {
  position: absolute;
  width: 500px;
  height: 450px;
  transform: translate(950px, -50px); /* RIGHT + DOWN */
  z-index: 1;
}

/* SMALL IMAGE OVERLAY */
